NIXPACKS_NODE_VERSION=22
DATABASE_URL=postgres://postgres:UOBdp2p2NjetuCNAZB6WrLEAdZZsNerbnuxQC4WnJqS3wHDpRu5sFotx46R6ZhQO@31.97.119.143:5433/postgres
PORT=5000
NODE_ENV=production
BACKEND_URL=https://api.essahub.co.uk
FRONTEND_URL=https://essahub.co.uk
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production
JWT_EXPIRES_IN=1d
CORS_ORIGIN=https://essahub.co.uk
MAX_FILE_SIZE=5242880
UPLOAD_PATH=./uploads
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=shanjid.maktech@gmail.com
SMTP_PASS=kxahbgcrupyogbrh
EMAIL_FROM=shanjid.maktech@gmail.com