# Dependencies
node_modules/

# Environment
.env.*.local

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.sublime-*
*.swp
*.swo
*~

# Prisma
prisma/migrations/
config.bat
.env
.getaibd/
